
@{
    ViewBag.Title = "CreateSkills";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h2>CreateSkills</h2>

<form method="post">
    <label>SkillName</label>
    <input type="text" class="form-control" name="SkillsName" />
    <label>Degree</label>
    <input type="text" class="form-control" name="Derece" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />

    <button type="submit" style="background-color:orange">Oluştur</button>
</form>
