
@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>referans oluşturma sayfası</h2>

<form method="post">
    <label>Referans adı</label>
    <input type="text" name="TestimonialName" class="form-control" />
    <label>Referans açıklaması</label>
    <input type="text" name="Description2" class="form-control" />
    <label>Referans resimi</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <label>Sayfa Açıklama</label>
    <input type="text" name="Description1" class="form-control" />
    <label>Ünvan</label>
    <input type="text" name="tittle" class="form-control" />

    <button class="btn btn-success">oluştur</button>


</form>

