
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateAbout</h2>

<form method="post">
    <label>Image Url</label>
    <input type="text" class="form-control" name="ImageURL" />
    <label>Title</label>
    <input type="text" class="form-control" name="Tittle" />
    <label>Birth Day</label>
    <input type="text" class="form-control" name="BirthDay" />
    <label>Web Site</label>
    <input type="text" class="form-control" name="WebSite" />
    <label>Phone</label>
    <input type="text" class="form-control" name="Phone" />
    <label>City</label>
    <input type="text" class="form-control" name="City" />
    <label>Age</label>
    <input type="text" class="form-control" name="Age" />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" />
    <label>Freelance</label>
    <input type="text" class="form-control" name="Freelance" />
    <label>Description</label>
    <input type="text" class="form-control" name="Description1" />
    <label>Description2</label>
    <input type="text" class="form-control" name="Description2" />
    <label>Degree</label>
    <input type="text" class="form-control" name="Degree" />

    <button type="submit" style="background-color:orange">Oluştur</button>
</form>

