
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateContact</h2>

<form method="post">
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>Adress</label>
    <input type="text" class="form-control" name="Adress" />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" />
    <label>Phone</label>
    <input type="text" class="form-control" name="phone" />
   

    <button type="submit" style="background-color:orange">Oluştur</button>
</form>