
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>burası isatistik sayfası</h2>

<br />
<label>Kaç kategori var : @ViewBag.CategoryCount</label>
<br />

<label>Kaç Referans var  : @ViewBag.TestimonialCount</label>
<br />

<label>Son eklenen proje      :10 </label>
<br />

<label>Kaç proje var      : @ViewBag.ProjeSayisi</label>
<br />



