
@{
    ViewBag.Title = "CreateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateServices</h2>

<form method="post">
    <label>Description</label>
    <input type="text" class="form-control" name="Description" />
    <label>Title</label>
    <input type="text" class="form-control" name="tittle" />
    <label>IconUrl</label>
    <input type="text" class="form-control" name="Icon" />
    <label>Description2</label>
    <input type="text" class="form-control" name="description2" />
    <button type="submit" style="background-color:orange">Oluştur</button>
</form>

