
@{
    ViewBag.Title = "CreateMessage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateMessage</h2>

<form method="post">
    <label>Name Surname</label>
    <input type="text" class="form-control" name="NameSurname" />
    <label>Mail</label>
    <input type="text" class="form-control" name="Mail" />
    <label>Subject</label>
    <input type="text" class="form-control" name="Subject" />
    <label>Message Content</label>
    <input type="text" class="form-control" name="MessageContact" />

    <button type="submit" style="background-color:orange">Oluştur</button>
</form>

